.movie__card__wrapper {
    position: relative;
    height: 320px;
    width: 210px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
}

.movie__card__image {
    width: 100%;
    height: 100%;
}
.movie_name{
    position: absolute;
    bottom: 40px;
    z-index: 1;
    left: 10px;
    font-weight: 600;
    font-size: 14px;
}
.movie__info{
    position: absolute;
    bottom: 5px;
    z-index: 1;
    width: 210px;
    left: 10px;
}
.overlay{
    width: 100%;
    height: 240px;
    position: absolute;
    bottom: 0;
    z-index: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 1), transparent);
}