.series__banner__wrapper{
    height: 600px;
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
}
.action__buttons{
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 20px;
    left: 20px;
}
.add__to__watchlist{
    border: 1px solid #fff;
    background: transparent;
    border-radius: 7px;
    color:white;
    z-index: 1;
}